<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACF89D571BD918A300C5974B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF89D701BD918A400C5974B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF89D7B1BD918A400C5974B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
